<h1>Landing</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Edad</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.age %></td>
        <td><%= student.email %></td>

      </tr>
    <% end %>
  </tbody>
</table>